@font-face {
    font-family: ClearSans;
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/ClearSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: ClearSans;
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/ClearSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: ClearSans;
    font-weight: 500;
    font-style: normal;
    src: url('./fonts/ClearSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: ClearSans;
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/ClearSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: ClearSans;
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/ClearSans-Bold.ttf') format('truetype');
}
